.example-radio-group {
  margin-top: 1%;
  display: bloke;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
}

.example-margin {
  margin: 0 10px;
}
